.mmt-dashboard-browse {
   margin-top: 10px;
   .container-fluid {
      padding-left: 0px;
      padding-right: 0px;
      .mmt-table {
         border-top: 0px;
         .mmt-table-header,
         .mmt-table-row {
            padding-left: 12px;
            padding-right: 12px;
            background-color: transparent;
            
         }
      }
   }
}