.mmt-filters-btn {
    max-width: initial !important;
    min-width: 100px !important;
}

.mmt-filtersClear-btn {
    min-width: unset !important;
    padding-right: 0px !important;
}

.mmt-filters-checkbox {
   padding-left: 10px !important;
}