.mmt-actorLevel-box-view {
   border-radius: 4px 4px 2px 2px; 
}

.mmt-actorLevel-box-row, .mmt-actorLevel-row-edit {
   //width: inherit !important;
   width: -webkit-fill-available !important;
}

.mmt-dark {
   .mmt-actorLevel-box-view {
      background-color: rgb(32, 31, 31);
   }
}

.mmt-default {
   .mmt-actorLevel-box-view {
      background-color: rgb(243, 242, 241);

      .mmt-userPill {
         background-color: rgb(255, 255, 255);
      }
   }
}